.form{
  flex-direction: column;
}

.form-label{
  padding: 0;
  margin-right: 0;
  margin-left: 10px;
  margin-bottom: 0;
  width: 350px;
  text-align: left;
  border: none;
  background: transparent;
}

.form-label + .form-control{
  padding: 10px 0 10px 15px;
  margin-bottom: 5px;
}

.partners{
  justify-content: center;
}

.partners-image:not(:last-child){
  margin-bottom: 150px;
}

.footer-body{
  align-items: center;
}

.footer_image{
  display: none;
}

.modal-text__desktop{
  display: none;
}

.modal-text__mobile{
  display: inline;
}

.nav-link::before{
  left: -20px;
}

.preview-text{
  background: none;
}

.decor-block{
  display: none
}

.competition-procedure-section-steps--first,
.competition-procedure-section-steps--second,
.competition-procedure-section-steps--third{
  left: 44%;
  right: 0;
}

.competition-procedure-section-steps--third{
  top: 300px;
}

.competition-procedure-section::after,
.competition-procedure-section::before{
  background: none;
}

.skill-card-list--item span{
  width: 100%
}

.platforms-section--describe-text{
  width:70%;
}

.platforms-section--describe{
  margin-left: 0
}

.platforms-section--describe-text_wrapper{
  margin-top: 120px;
  margin-left: -2%;
  text-align: center;
}

.platforms-section--icons{
  top: -26px;
  left: 142px;
}
