.form{
  flex-direction: column;
}

.form-label{
  padding: 0;
  margin-right: 0;
  margin-left: 10px;
  margin-bottom: 0;
  width: 350px;
  text-align: left;
  border: none;
  background: transparent;
}

.form-label + .form-control{
  padding: 10px 0 10px 15px;
  margin-bottom: 5px;
}

.partners{
  justify-content: center;
}

.partners-image:not(:last-child){
  margin-bottom: 150px;
}

.footer-body{
  align-items: center;
}

.footer_image{
  display: none;
}

.modal-text__desktop{
  display: none;
}

.modal-text__mobile{
  display: inline;
}
